.form-box {
  background: #fff;
  max-width: 600px;
  width: 100%;
}

.btn-upload {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px;
  transition: 0.3s ease;
}

.btn-upload:hover {
  background-color: #0056b3;
}

.file-preview {
  margin-left: 15px;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}

.img-preview {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.icon-pdf {
  font-size: 28px;
  color: red;
}

.file-name {
  font-size: 13px;
  color: #444;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar-btn {
  text-decoration: none; 
}
.btn-remove {
  background: transparent;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}
