/* General Layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;

}

/* Header */
.header {
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 100;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
   
}

.logo-img {
  height: 50px;
  margin-right: 10px;
  animation: fadeInLogo 1s ease forwards;
}

.logo-text {
  font-size: 20px;
  color: #333;
   opacity: 0;
  animation: fadeInText 0.8s ease forwards;
  animation-delay: 0.8s; 
}
@keyframes fadeInLogo {
  from { opacity: 0; transform: scale(0.5); }
  to   { opacity: 1; transform: scale(1); }
}

@keyframes fadeInText {
  from { opacity: 0; transform: translateX(-10px); }
  to   { opacity: 1; transform: translateX(0); }
}


/* Main layout */
.main {
  display: flex;
  flex: 1;
  position: relative;
  
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #2c3e50;
  height: calc(100vh - 70px); /* below header */
  position: fixed; /* fixed sidebar */
  top: 70px;
  left: 0;
  overflow-y: auto;
  transition: width 0.3s;
  z-index: 99;
  scrollbar-width: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.menu-item {
  position: relative;
  left:0px;
  margin-top: 10px;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.menu-link:hover {
  background-color: #1a252f;
}

.menu-icon {
  margin-right: 10px;
  min-width: 20px;
}

.tooltip {
  position: absolute;
  left: 65px;
  top: 50%;
  transform: translateY(-50%);
  background: #1a252f;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  display: none;
}

.sidebar.collapsed .tooltip {
  display: block;
}

/* Toggle button */
.toggle-btn {
  position: fixed;
  left: 10px;
  top: 80px;
  background: #070707;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 101;
  transition: left 0.3s;
}

.sidebar.collapsed ~ .toggle-btn {
  left: 60px;
}

/* Content */
.content {
  margin-left: 250px; /* same as sidebar width */
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 70px);
  transition: margin-left 0.3s;
  scrollbar-width: none;
}
.content::-webkit-scrollbar {
  display: none; 
}
.sidebar.collapsed ~ .content {
  margin-left: 60px;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    left: -250px;
  }
  .sidebar.open {
    left: 0;
  }
  .sidebar.collapsed {
    left: -60px;
  }

  .toggle-btn {
    left: 10px;
    top: 80px;
  }

  .content {
    margin-left: 0;
  }
}
