.doc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.doc-form {
  margin-bottom: 20px;
  text-align: center;
}
.doc-search{
  margin-top: 40px;;
}
.doc-search input {
  padding: 8px;
  margin-right: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.doc-search button {
  padding: 8px 14px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.doc-search button:hover {
  background: #0056b3;
}

.doc-table-wrapper {
  margin-top: 20px;
  width: 100%;
  max-width: 700px;
}

.doc-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.doc-table th,
.doc-table td {
  border: 1px solid #ddd;
  padding: 12px;
}

.doc-table th {
  background-color: #f4f4f4;
}

.status-pill {
  padding: 6px 12px;
  border-radius: 20px;
  color: rgb(83, 67, 67);
  font-weight: bold;
}

.status-pill.uploaded {
  background-color: #57d474; /* Green */
}

.status-pill.not-uploaded {
  background-color: #fd8994; /* Red */
}

.request-btn-container {
  margin-top: 20px;
  text-align: center;
}

.request-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.request-btn:hover {
  background-color: #a71d2a;
}
.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.spinner {
  border: 6px solid #f3f3f3; /* Light gray */
  border-top: 6px solid #007bff; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
